# Ignorar CSS, HTML y SVGs de fuentes/iconos de terceros en las estadísticas
src/assets/**/*.css linguist-vendored
src/assets/**/*.html linguist-vendored
src/assets/**/*.svg linguist-vendored
src/assets/**/*.ttf linguist-vendored