/* --- CONFIGURACIÓN DE TAILWIND CSS --- */
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-zinc-950: #121215 !important;
  --color-red-450: #ff5c5c;
}

/* --- CONFIGURACIÓN DE FUENTES --- */
@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Satoshi-Variable.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Satoshi';
  src: url('@/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  size-adjust: 100%;
}

/* --- CSS --- */
html {
  font-size: 16px;
  font-family: 'Satoshi';
}

i,
span::before,
span::after {
  display: grid;
  place-items: center;
}

.p-component,
.p-component span {
  font-size: 0.875rem !important;
}

.p-dataview-header {
  padding: 8px !important;
}

.p-paginator {
  padding: 8px !important;
}

.table-grid .p-togglebutton-content {
  width: 28px !important;
  height: 28px !important;
}

.p-dataview-header,
.p-paginator,
.p-dataview-content {
  background: none !important;
}

.p-breadcrumb {
  padding: 0 !important;
}

.p-togglebutton {
  background-color: var(--color-zinc-100) !important;
  border: 1px solid var(--color-zinc-100) !important;
}

.p-message-text,
.p-message-sm {
  font-size: 0.75rem !important;
}

/* --- DATATABLE --- */
.p-datatable-column-title {
  white-space: nowrap !important;
  font-weight: bolder !important;
}

.p-datatable-header-cell {
  background-color: var(--color-zinc-50) !important;
}

.p-datatable-tbody > tr:last-child > td {
  border-bottom: 0 !important;
}

/* --- MENÚS (ESTILOS DE PELIGRO/DANGER) --- */
.menu-item-danger .p-menu-item-icon,
.menu-item-danger .p-menu-item-label {
  color: var(--color-red-450) !important;
}

.menu-item-danger .p-menu-item-link:hover,
.menu-item-danger.p-focus .p-menu-item-link {
  background-color: var(--color-red-100) !important;
}

.menu-item-danger:not(.p-focus) .p-menu-item-link:not(:hover) {
  background-color: transparent !important;
}

/* --- TOAST Y MENSAJES (NOTIFICACIONES) --- */
.p-toast {
  max-width: 80% !important;
}

.p-toast-message-text {
  gap: 0.1rem !important;
}

.p-toast-summary {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.p-toast-detail {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.p-toast-message-icon {
  margin-top: 3px;
}

.p-message-text {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}

/* --- MODO OSCURO (DARK MODE) --- */
.dark .p-datatable-header-cell {
  background-color: color-mix(in srgb, var(--color-zinc-950) 50%, transparent) !important;
  border-bottom: 1px solid var(--color-zinc-700) !important;
}

.dark .menu-item-danger .p-menu-item-link:hover,
.dark .menu-item-danger.p-focus .p-menu-item-link {
  background-color: rgba(182, 39, 39, 0.164) !important;
}

.dark .p-togglebutton {
  background-color: var(--color-zinc-950) !important;
  border: 1px solid var(--color-zinc-950) !important;
}
